.box{
	width: 1007px;
	height: 505px;
	border: 1px solid #000;
}
.bo1{
	width: 1007px;
	border: 1px solid #000;
	float: left;
}
.bo{
	height: 100px;
	border: 1px solid #000;
	float: left;
	
}
.box21{
	width: 200px;
	height: 300px;
}
.box22{
	width: 600px;
	height: 300px;
}
.box1{
	height: 100px;
}
.box2{
	height: 300px;
}