.shou{
	height: 40px;
}
.neirong{
	width: 100%;
	background-color: #f5f5f5;
}
.neirong1{
	width: 770px;
	margin: 0 auto;
}
.left{
	margin-top: 10px;
	width: 300px;
	display: inline-block;
}
.right{
	display: inline-block;
	vertical-align: top;
	padding-left: 60px;
	width: 270px;
	margin-top: 20px;
}
.right2{
	line-height: 2em;
	margin-top: 50px;
}
h3{
	padding-top: 10px;	

}
.right2 h5{
	margin: 0px;
	color: #666;
}
.right2 p{
	margin-top: 0px;
}
.left img{
	width: 290px;
	margin-top: 10px;
}
.more{
	float: right;
	margin-right: 20px;
	color: #666;
}
.more:hover{
	color: #add8e6;
}
a:hover{
	opacity: 0.5;
}
